body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  min-width: 380px;
  height: 100vh;
  min-height: 380px;
  margin: 0;
  padding: 20px;
  background-color: #f7fcfc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
}

.picure {
  position: relative;
  width: 352px;
  height: 352px;
  margin: auto;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 37px 57px rgba(#353663, 0.3);
  overflow: hidden;
  
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(#bcccdc, 0) 0%, rgba(#bcccdc, 0.1) 50%, rgba(#ffffff, 0.2) 100%);
  }
}

.back {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #47428a;
  box-shadow: inset 0 16px 38px rgba(#e35a5a, 0.45), inset 0 16px 38px rgba(#4725de, 0.45);
  
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(235deg, rgba(#4034e2, 0.5) 0%, rgba(#4a4955, 0.5) 100%);
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  
  &--1 {
    width: 294px;
    height: 294px;
    background-color: #3f3b7a;
  }
  
  &--2 {
    width: 226px;
    height: 226px;
    background-color: #322f61;
  }
  
  &--3 {
    width: 158px;
    height: 158px;
    background-color: #2a2751;
    box-shadow: inset 0 16px 38px -8px rgba(#42fffd, 0.9), inset 8px 8px 38px rgba(#4725de, 0.45);
  }
}

.snake {
  position: absolute;
  left: 48px;
  top: -20px;
  width: 253px;
  height: 299px;
  background-color: #ca79ec;
  background-image: radial-gradient(circle at 90% 16%, #412eb0, transparent 45px), // ¯\_(ツ)_/¯
                    radial-gradient(circle at 84% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 78% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 72% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 66% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 60% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 54% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 48% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 42% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 36% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 30% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 24% 16%, #412eb0, transparent 45px),
                    radial-gradient(circle at 20% 18%, #412eb0, transparent 45px),
                    radial-gradient(circle at 17% 21%, #412eb0, transparent 45px),
                    radial-gradient(circle at 14% 24%, #412eb0, transparent 45px),
                    radial-gradient(circle at 14% 30%, #412eb0, transparent 45px),
                    radial-gradient(circle at 14% 36%, #412eb0, transparent 45px),
                    radial-gradient(circle at 15% 41%, #412eb0, transparent 45px),
                    radial-gradient(circle at 18% 44%, #412eb0, transparent 45px),
                    radial-gradient(circle at 18% 44%, #412eb0, transparent 45px),
                    radial-gradient(circle at 20% 48%, #412eb0, transparent 45px),
                    radial-gradient(circle at 23% 51%, #412eb0, transparent 45px),
                    radial-gradient(circle at 26% 54%, #412eb0, transparent 45px),
                    radial-gradient(circle at 30% 56%, #412eb0, transparent 45px),
                    radial-gradient(circle at 36% 56%, #412eb0, transparent 45px),
                    radial-gradient(circle at 42% 56%, #412eb0, transparent 45px),
                    radial-gradient(circle at 47% 57%, #412eb0, transparent 45px),
                    radial-gradient(circle at 52% 58%, #412eb0, transparent 45px),
                    radial-gradient(circle at 57% 59%, #412eb0, transparent 45px),
                    radial-gradient(circle at 62% 60%, #412eb0, transparent 45px),
                    radial-gradient(circle at 67% 61%, #412eb0, transparent 45px),
                    radial-gradient(circle at 72% 62%, #412eb0, transparent 45px),
                    radial-gradient(circle at 76% 64%, #412eb0, transparent 45px),
                    radial-gradient(circle at 79% 67%, #412eb0, transparent 45px),
                    radial-gradient(circle at 81% 71%, #412eb0, transparent 45px),
                    radial-gradient(circle at 81% 77%, #412eb0, transparent 45px),
                    radial-gradient(circle at 80% 82%, #412eb0, transparent 45px),
                    radial-gradient(circle at 78% 86%, #412eb0, transparent 45px),
                    radial-gradient(circle at 74% 88%, #412eb0, transparent 45px),
                    radial-gradient(circle at 70% 90%, #412eb0, transparent 45px),
                    radial-gradient(circle at 65% 91%, #412eb0, transparent 45px),
                    radial-gradient(circle at 61% 93%, #412eb0, transparent 45px),
                    radial-gradient(circle at 56% 94%, #412eb0, transparent 45px),
                    radial-gradient(circle at 50% 94%, #412eb0, transparent 45px),
                    radial-gradient(circle at 45% 95%, #412eb0, transparent 45px),
                    radial-gradient(circle at 40% 96%, #412eb0, transparent 45px),
                    radial-gradient(circle at 34% 96%, #412eb0, transparent 45px),
                    radial-gradient(circle at 28% 96%, #412eb0, transparent 45px),
                    radial-gradient(circle at 22% 96%, #412eb0, transparent 45px),
                    radial-gradient(circle at 16% 96%, #412eb0, transparent 45px),
                    radial-gradient(circle at 10% 96%, #412eb0, transparent 45px),
                    radial-gradient(circle at 4% 96%, #412eb0, transparent 45px);
  box-shadow: inset 0 16px 38px rgba(#4725de, 0.2), inset -100px 0px 100px rgba(#442fb4, 0.1);
  transform: rotate(-15deg);
  clip-path: url(#snake);
}

.land {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 170px;
}

.hill {
  $hill: &;
  position: absolute;
  padding-left: 10px;
  animation: hill 7.5s linear infinite;
  
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    animation: hill 7.5s linear infinite reverse;
  }
  
  &--shadow {
    
    #{$hill}__inner {
      overflow: hidden;

      &:after {
        display: block;
        content: "";
        position: absolute;
        border-radius: 50%;
        opacity: 0.3;
      }
    }
  }

  &--1 {
    top: 34px;
    left: 18px;
    width: 200px;
    height: 140px;
    
    #{$hill}__inner {
      border-radius: 90px 140px 70px 70px / 50px 90px 70px 50px;
      background-color: #97b9d7;
      background-image: linear-gradient(235deg, #d6cdff 0%, #d2cdcf 100%);
      box-shadow: inset 20px 14px 40px 10px rgba(#fac5db, 0.8);
      
      &:after {
        top: 2px;
        left: 0px;
        width: 84px;
        height: 54px;
        background-image: linear-gradient(235deg, rgba(#875e72, 0.6) 0%, rgba(#ffffff, 0.2) 100%);
        transform: rotate(-20deg);
      }
    }
  }

  &--2 {
    top: 32px;
    left: 210px;
    width: 100px;
    height: 60px;
    animation-delay: -4s;
    
    #{$hill}__inner {
      border-radius: 60px 60px 40px 40px / 50px 50px 24px 24px;
      background-color: #46afbb;
      background-image: linear-gradient(235deg, #6acef0 0%, #46afbb 100%);
      box-shadow: inset 20px -10px 40px -6px rgba(#fac4db, 0.8);
      animation-delay: -4s;
    }
  }

  &--3 {
    top: 44px;
    left: 120px;
    width: 150px;
    height: 120px;
    animation-delay: -1s;
    
    #{$hill}__inner {
      border-radius: 80px 70px 80px 30px / 80px 50px 66px 30px;
      background-color: #73c0d4;
      box-shadow: inset -10px 10px 40px rgba(#a6e7ff, 0.8);
      animation-delay: -1s;
      
      &:after {
        top: 6px;
        left: 15px;
        width: 70px;
        height: 40px;
        background-image: linear-gradient(235deg, rgba(#875e72, 0.6) 0%, rgba(#ffffff, 0.2) 100%);
        transform: rotate(-34deg);
      }
    }
  }

  &--4 {
    top: 50px;
    left: -54px;
    width: 140px;
    height: 70px;
    animation-delay: -3s;
    
    #{$hill}__inner {
      border-radius: 40% / 50%;
      transform: rotate(24deg);
      background-color: #b0b7c2;
      background-image: linear-gradient(235deg, #90e1f2 0%, #f4c7df 70%);
      box-shadow: inset 10px 10px 40px -10px rgba(#b3aab6, 0.8);
      animation-delay: -3s;
    }
  }
  
  &--5 {
    left: -68px;
    top: 6px;
    width: 493px;
    height: 217px;
    animation-delay: -5s;
    
    #{$hill}__inner {
      border-radius: 320px 0 0 0 / 250px 0 0 0;
      background-color: #43deff;
      background-image: linear-gradient(235deg, #43deff 0%, rgba(#a9b7ba, 0.6) 80%);
      box-shadow: inset 30px 50px 250px 10px rgba(#ffffff, 0.8), inset 100px -20px 100px 0px rgba(#fbc6dc, 1);
      clip-path: url(#hill-5);
      animation-delay: -5s;
    }
  }

  &--6 {
    left: 49px;
    top: 120px;
    width: 84px;
    height: 84px;
    animation-delay: -2s;
    
    #{$hill}__inner {
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: inset -10px 10px 50px 10px rgba(#cfe9ea, 0.6);
      animation-delay: -2s;
    }
  }
}

@keyframes hill {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.space {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &--1 {
    top: 50%;
    left: 50%;
    width: 74px;
    height: 74px;
    background-color: #6e6dc7;
    box-shadow: inset -6px 6px 14px -6px rgba(#42fffd, 0.8), inset 16px 8px 32px 2px rgba(#4725de, 0.35), inset -6px 10px 24px rgba(#86f7f7, 0.9);
  }

  &--2 {
    top: 44px;
    left: 48px;
    width: 64px;
    height: 64px;
    background-color: #a94ace;
    box-shadow: inset 8px 8px 38px rgba(#4725de, 0.45), inset 0 16px 38px rgba(#42fffd, 0.6);
  }

  &--3 {
    top: 168px;
    left: 28px;
    width: 24px;
    height: 24px;
    background-color: #745a7e;
    box-shadow: inset 4px 4px 38px 0 rgba(#4725de, 0.45), inset -4px 4px 8px -2px rgba(#ffffff, 0.9);
  }

  &--4 {
    top: 140px;
    left: 244px;
    width: 24px;
    height: 24px;
    background-color: #261ca1;
    box-shadow: inset 4px 4px 38px 0 rgba(#4725de, 0.45), inset -4px 4px 8px -2px rgba(#69dcf0, 0.9);
  }

  &--5 {
    top: 134px;
    left: 340px;
    width: 34px;
    height: 34px;
    background-color: #2a2475;
    box-shadow: inset 8px 8px 38px rgba(#4725de, 0.45), inset 0 16px 38px rgba(#42fffd, 0.6);
  }

  &--6 {
    top: 310px;
    left: 284px;
    width: 24px;
    height: 24px;
    background-color: #9349b1;
    box-shadow: inset 4px 4px 38px 0 rgba(#4725de, 0.45), inset -4px 4px 8px -2px rgba(#ffffff, 0.9);
  }
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.snowflake {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  
  &--small {
    width: 2px;
    height: 2px;
  }

  &--1 {
    left: 24px;
    top: 195px;
  }

  &--2 {
    left: 40px;
    top: 140px;
  }

  &--3 {
    left: 76px;
    top: 102px;
  }

  &--4 {
    left: 74px;
    top: 236px;
  }

  &--5 {
    left: 114px;
    top: 174px;
  }

  &--6 {
    left: 132px;
    top: 88px;
  }

  &--7 {
    left: 144px;
    top: 158px;
  }

  &--8 {
    left: 144px;
    top: 218px;
  }

  &--9 {
    left: 160px;
    top: 48px;
  }

  &--10 {
    left: 158px;
    top: 120px;
  }

  &--11 {
    left: 166px;
    top: 310px;
  }

  &--12 {
    left: 214px;
    top: 142px;
  }

  &--13 {
    left: 224px;
    top: 82px;
  }

  &--14 {
    left: 244px;
    top: 218px;
  }

  &--15 {
    left: 262px;
    top: 176px;
  }

  &--16 {
    left: 282px;
    top: 98px;
  }

  &--17 {
    left: 306px;
    top: 146px;
  }

  &--18 {
    left: 324px;
    top: 212px;
  }
}

.sky {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: sky 15s linear infinite;
}

@keyframes sky {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun {
  position: absolute;
  top: -2px;
  left: 248px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #f3ec1f;
  box-shadow: inset 0 48px 42px rgba(#ffffff, 0.25), inset 0 16px 38px 10px rgba(#e35a5a, 0.9), -16px 16px 56px rgba(#ffffff, 0.6);
}

.clips {
  position: absolute;
}

.copy {
  color: #834dc1;
  
  a {
    color: inherit;
    
    &:hover,
    &:focus {
      color: #6a17ca;
    }
  }
}

